# Ignore .idea folder (JetBrains IDE config files)
.idea/

# Ignore the staging folder.
staging/

# Ignore log files
*.log

# Ignore macOS system files
.DS_Store

# Ignore Python compiled files
*.pyc

# Ignore Node.js dependencies (if any)
node_modules/

# Ignore environment files
.env

# Ignore .well-known directory
.well-known/

# Ignore .htaccess and all lock files starting with .htaccess
.htaccess*
.htaccess.lock*

# Ignore error_log
error_log

# Ignore allfiles.txt
allfiles.txt
